body {
	font-family: 'Roboto Mono', monospace;
	color: white;
	background: #242424;
	font-size: 12px;
}

.header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100% - 20px);
	height: calc(64px - 20px);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 10px solid transparent;
	border-image: url(../images/FrameInner.svg) 10 round;
	background: rgba(36,11,34,1);
	text-align: center;
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 32px;
	line-height: 32px;
}

img {
	width: 32px;
}

.name {
	padding-left: 5px;
	width: calc(60% - 37px);
	text-align: left;
	font-weight: bold;
}

.boss {
	color: #d17371;
}

.progression {
	color: #d1c877;
}

.split {
	padding-right: 5px;
	width: calc(40% - 37px);
	text-align: right;
}

#splits {
	position: absolute;
	top: calc(32px * 1.5 + 15px);
	left: 0px;
	width: calc(100% - 20px);
	height: calc(100% - 96px - 30px - 20px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	border: 10px solid transparent;
	border-image: url(../images/Frame.svg) 10 round;
	background: rgba(0,0,0,1);
	overflow: auto;
}

#splits::-webkit-scrollbar {
  display: none;
}

.finaltime {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: calc(100% - 20px);
	height: calc(64px - 20px);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 10px solid transparent;
	border-image: url(../images/FrameInner.svg) 10 round;
	background: rgba(36,11,34,1);
	text-align: center;
	justify-content: center;
}

.title {
	font-weight: bold;
	font-size: 16px;
}

#category {
	font-size: 14px;
}

#igt {
	font-size: 14px;
}

#pb {
	font-size: 14px;
}